@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  margin: auto;
  padding: 0;
  max-width: 600px;

  font-family: "Poppins", sans-serif;
}

h1 {
  padding-top: 2rem;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-wrapper {
  text-align: center;
}
